.container {
  background-image: url("/background-image__ts-speak-now.webp") !important;
  background-size: 5600px auto;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100vh;
}

.pageContent {
  margin-block: 8rem;
}

.paragraphContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.paragraphText {
  max-width: min(50ch, 90%);
  text-align: center;
}

.primaryButton {
  margin-left: 2px !important;
  padding: 1rem 3rem !important;
  border-radius: 0 !important;
  font-size: 1em !important;
  font-weight: 900;
  text-transform: none;
  letter-spacing: 0.1rem;
}

.footerContainer {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1em;
  font-style: italic;
}

.disclaimer {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1em;
}

.footerContent {
  max-width: min(80ch, 90%);
}
