

.title {
  font-size: 1.25rem !important;
}

.headers {
  font-size: 0.8em !important;
}

.pageContent {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.paragraphContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.paragraphText {
  max-width: min(50ch, 90%);
  text-align: center;
  font-size: 0.65em !important;
}

.primaryButton {
  padding: 0.25rem 1.5rem !important;
  border-radius: 0 !important;
  font-size: 1.25rem !important;
  font-weight: 900;
  text-transform: capitalize !important;
  letter-spacing: 0.1rem;
  background: url(../public/1989-header-bg.webp);
  border: 2px solid #555353 !important;
  box-shadow: none !important;
}

.primaryButton:hover {
  box-shadow: none !important;
  border: 3px solid #555353 !important;
}

.footerContainer {
  display: flex;
  flex-flow: column;
  font-weight: 400;
  font-family: var(--text-font);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  font-style: italic;
}

.disclaimer {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1em;
}

.footerContent {
  max-width: min(80ch, 90%);
  font-size: 0.75rem !important;
  text-align: center;
}


@media (min-width: 768px) {
  .title {
    font-size: 2rem !important;
  }

  .headers {
    font-size: 1.25em !important;
  }

  .paragraphText {
    font-size: 1em !important;
  }

  .footerContent {
    font-size: 1.25rem !important;
  }

  .footerContainer {
    flex-flow: row;
  }

  .disclaimer {
    padding-bottom: 2em;
  }
}
