.headers {
  font-weight: 500 !important;
}

.container {
  background-image: url("/background-gradient.jpeg") !important;
  background-size: cover;
  height: 100vh;
}

.pageContainer {
  padding-top: 2em !important;
}

.paragraphContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.paragraphText {
  max-width: min(50ch, 90%);
  text-align: center;
  font-style: italic;
  /* text-transform: uppercase; */
}

.primaryButton {
  margin-left: 2px !important;
  border-radius: 0 !important;
  font-size: 1em !important;
  font-weight: 700;
  text-transform: none;
}

.footerContainer {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-end;
  min-height: 180px;
  padding-bottom: 1em;
  font-style: italic;
}

.disclaimer {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1em;
}

.footerContent {
  max-width: min(80ch, 90%);
}
